<%= form_for @brand, remote: true do |f| %>
  <div class="inline-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="inline-field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="inline-field">
    <%= f.submit %>
  </div>
<% end %>
